<div class="container mt-4" *ngIf="!loading && eventDetails; else loadingTemplate">
  <div class="banner mb-4">
    <img [src]="bannerUrl" class="img-fluid w-100" alt="Event Banner">
  </div>

  <div class="event-details mb-4 p-4 bg-light rounded shadow-sm">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4">{{ eventDetails.eventName }}</h1>
        <p class="lead"><strong>Rozpoczęcie:</strong>
          {{ eventDetails.startTime | date:'fullDate' }} at {{ eventDetails.startTime | date:'shortTime' }}
        </p>
        <p class="lead"><strong>Zakończenie:</strong>
          {{ eventDetails.endTime | date:'fullDate' }} at {{ eventDetails.endTime | date:'shortTime' }}
        </p>
        <p class="lead"><strong>Lokalizacja:</strong> {{ eventDetails.location }}</p>
        <p>{{ eventDetails.description }}</p>
      </div>
      <div class="col-md-4 text-center">
        <button class="btn btn-primary btn-lg my-2">Zapisz się</button>
        <button class="btn btn-secondary btn-lg my-2">Dodaj do obserwowanych</button>
      </div>
    </div>
  </div>

  <div class="comments-section mb-4">
    <h2>Komentarze</h2>
    <div>
      <div class="card mb-3" *ngFor="let comment of eventDetails?.comments">
        <div class="row no-gutters">
          <div class="col-md-2 text-center">
            <img [src]="userPhotos[comment.userPhoto]" class="img-fluid rounded-circle mt-3" alt="Avatar">
            <p class="mt-2">{{ comment.userFirstName }}</p>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <p class="card-text">{{ comment.commentContent }}</p>
              <p class="card-text"><small class="text-muted">{{ comment.createdAt | date:'short' }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  <p>Ładowanie...</p>
</ng-template>
