<header>
  <img src="assets/logo.png" alt="logo" id="logo">
  <div class="search-bar">
    <input type="text" placeholder="Szukaj..." #search>
    <img src="../assets/icons/search.png" alt="lupa">
  </div>
  <button class="profile-button"
          [routerLink]="'/main/profile/' + this.authService.getUserId()">
    <label>Profil</label>
    <img [src]="photoUrl" alt="zdjęcie użytkownika">
  </button>
</header>

<main>
  <div class="left-bar">
    <div class="identity-space">
      <img [src]="photoUrl" alt="zdjęcie profilowe">
      <p>{{userDetails?.firstName + " " + userDetails?.lastName}}</p>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/main/discover"
               routerLinkActive="active-button">
          <img src="assets/icons/compass.svg" class="icon">
          Odkrywaj
        </a></li>
        <li><a routerLink="/main/observed"
               routerLinkActive="active-button">
          <img src="assets/icons/bell.svg" class="icon">
          <label>Obserwowane</label>
        </a></li>
        <li><a routerLink="/main/organize"
               routerLinkActive="active-button">
          <img src="assets/icons/roll_alt.svg" class="icon">
          <label>Zorganizuj</label>
        </a></li>
        <li><a [routerLink]="'/main/profile/' + this.authService.getUserId()"
               routerLinkActive="active-button">
          <img src="assets/icons/profile.svg" class="icon">
          <label>Profil</label>
        </a></li>
        <li><a (click)="onLogout()">
          <img src="assets/icons/sign_out.svg" class="icon">
          <label>Wyloguj</label>
        </a></li>
      </ul>
    </nav>
  </div>
  <div class="render-space">
    <router-outlet></router-outlet>
  </div>
</main>
