<div class="profile-card">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="profile-image">
      <img id="profilePic" [src]="photoUrl" alt="Profile Picture">
      <input type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)">
      <label for="fileInput" class="upload-icon">
        <img src="assets/icons/edit.png" alt="Upload Icon">
      </label>
    </div>
    <div class="profile-details">
        <div class="field">
          <label for="first-name">Imię</label>
          <input type="text"
                 id="first-name"
                 placeholder="Imię"
                 [value]="user?.firstName"
                 formControlName="firstName">
        </div>
        <div class="field">
          <label for="last-name">Nazwisko</label>
          <input type="text"
                 id="last-name"
                 placeholder="Nazwisko"
                 [value]="user?.lastName"
                 formControlName="lastName">
        </div>
        <div class="field">
          <label for="phone">Numer Telefonu</label>
          <input type="tel"
                 id="phone"
                 placeholder="Numer Telefonu"
                 [value]="user?.phoneNumber"
                 formControlName="phoneNumber">
        </div>
        <div class="field">
          <label for="email">Adres Email</label>
          <input type="email"
                 id="email"
                 placeholder="Adres Email"
                 [value]="user?.email"
                 disabled>
        </div>
      <button type="submit">Potwierdź</button>
    </div>
  </form>
</div>
