.registration-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.me-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

button.mat-button.p-0 {
  padding: 0;
}

button.border-0 {
  border: none;
}

button.bg-transparent {
  background-color: transparent;
}
